a{
    font-size: 20px;
    font-family:"rubik" sans-serif;
}

a:link{
    color: lawngreen;
}

a:visited{
    color: lawngreen;
}

body{
    margin: 20px;
    background-color: black;
    font-family:"Rubik", sans-serif;
}

h1{
    color: white;
    font-family:"Rubik", sans-serif;
}

h2{
    color: white;
    font-family:"Rubik", sans-serif;
}

#translate{
    color: red;
}

#credits{
    color: red;
}

p{
    color: white;
    font-size: 20px;
    font-family:"Rubik", sans-serif;
}

li{
    color: white;
}

button{
    background-color: gray;
    height: 50px;
    width: 100px; 
    font-size: 20px; 
    font-family:"Rubik", sans-serif;
}